---
title: Michael's Blog
layout: default
---

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Michael's Blog</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      {% for post in site.posts %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{ post.date | date: '%B %d, %Y' }} by <a href="{{ site.baseurl }}/about.html#michaelbateman">Michael Bateman</a></p>
          <p>{{ post.content }}</p>
        </div>
        <hr />
      {% endfor %}
    </div>
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Blogging and ranting directly from Michael.</p>
      </div>
      <br />
      <div class="sidebar-module sidebar-module-inset">
        <h4>Recent Posts</h4>
        {% for post in site.posts limit:5 %}
          <div>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </div>
        {% endfor %}
        <div style="padding-top: 15px;">
          <p>subscribe via <a href="{{ site.baseurl }}/feed.xml">RSS</a></p>
        </div>
      </div>
      <br />
      <div class="sidebar-module sidebar-module-inset">
        {% for item in site.data.social-media %}
          <h4>Social</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/{{ item[1].github }}">GitHub</a></li>
              <li><a href="https://www.facebook.com/{{ item[1].facebook }}">Facebook</a></li>
              <li><a href="https://instagram.com/{{ item[1].instagram }}">Instagram</a></li>
              <br />
              <li>
                <a class="btn btn-primary" href="https://michaelbateman.ca" role="button">
                  More &raquo;
                </a>
              </li>
            </ol>
        {% endfor %}
      </div>
      <br />
      <div class="sidebar-module sidebar-module-inset">
        <h4>Other Blogs</h4>
        <p>Tech Blog - <a href="http://tech.michaelbateman.ca">tech.michaelbateman.ca</a></p>
      </div>
    <br />
    </div>
  </div>
</div>