<div class="blog-masthead">
	<!--
  <div class="container">
    <nav class="nav blog-nav">
      <a class="nav-link" href="index.html">Home</a>
      <a class="nav-link" href="about.html">About</a>
    </nav>
  </div>
  -->
  <div class="container">
  	<nav class="nav blog-nav">
    	<li><a href="/" class="nav-link{% if page.url == '/' %} active{% endif %}">Home</a></li>
    	<li><a href="/about.html" class="nav-link{% if page.url == '/about.html' %} active{% endif %}">About</a></li>
		</nav>
  </div>
</div>